Django==4.2.11
psycopg2-binary
dj-database-url
stripe
Pillow
requests
urllib3
typing_extensions
tzdata
packaging
idna
charset-normalizer
certifi
asgiref
sqlparse
python-dotenv==1.0.1
whitenoise
gunicorn 